<div class="container">
  <div class="col-md-8 col-md-offset-2">

    <div class="jumbotron">

      <h2>Welcome to Medly</h2>

      <p>
        Never forget to take your medication again!
      </p>

      <% if session[:user_id] %>
        Welcome back, <%= User.find(session[:user_id]).name %>
        <br>

        <a href="/logout" class="btn btn-warning btn-sm">Log out</a>

      <% else %>
        <a href="/users/new" class="btn btn-primary">Sign Up</a>

        <button class="btn btn-secondary">Sign In</button>
      <% end %>


    </div>

  </div>
</div>
