<div class="container">
  <div class="col-md-8 col-md-offset-2">

    <div class="jumbotron">

      <h2>Welcome to Medly</h2>

      <p>
        Never forget to take your medication again!
      </p>


      <a href="/users/new" class="btn btn-primary">Sign Up</a>
      <button class="btn btn-secondary">Sign In</button>

    </div>

  </div>
</div>
